<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

  <title>www.facaebook/login.com</title>
</head>

<body>
  <form action="" method="post">
    <div class="grid lg:grid-cols-2">
      <div class="box">
        <h1 class="fa">facebook</h1>
        <p class="fp">Facebook helps you connect and share with the people in your life.</p>

      </div>

      <div class="box">
        <div class="logbox">


          <section class="text-gray-600 body-font relative">
            <!-- <div class="container px-5 py-24 mx-auto flex sm:flex-nowrap flex-wrap">
              <div class="lg:w-2/3 md:w-1/2 bg-gray-300 rounded-lg overflow-hidden sm:mr-10 p-10 flex items-end justify-start relative">
                <iframe width="100%" height="100%" class="absolute inset-0" frameborder="0" title="map" marginheight="0" marginwidth="0" scrolling="no" src="" style="filter: grayscale(1) contrast(1.2) opacity(0.4);"></iframe>
                <div class="bg-white relative flex flex-wrap py-6 rounded shadow-md">
                  <div class="lg:w-1/2 px-6">
                    <h2 class="title-font font-semibold text-gray-900 tracking-widest text-xs">ADDRESS</h2>
                    <p class="mt-1">Photo booth tattooed prism, portland taiyaki hoodie neutra typewriter</p>
                  </div>
                  <div class="lg:w-1/2 px-6 mt-4 lg:mt-0">
                    <h2 class="title-font font-semibold text-gray-900 tracking-widest text-xs">EMAIL</h2>
                    <a class="text-indigo-500 leading-relaxed">example@email.com</a>
                    <h2 class="title-font font-semibold text-gray-900 tracking-widest text-xs mt-4">PHONE</h2>
                    <p class="leading-relaxed">123-456-7890</p>
                  </div>
                </div>
              </div> -->
            <div class="lg:w-1/3 md:w-1/2 bg-white flex flex-col md:ml-auto w-full md:py-8 mt-8 md:mt-0">

              <div class="relative mb-4">
                <label for="email" class="leading-7 text-sm text-gray-600"></label>
                <input placeholder="email address or phone number" type="" id="email" name="email"
                  class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
              </div>
              <div class="relative mb-4">
                <label for="password" class="leading-7 text-sm text-gray-600"></label>
                <input placeholder="password" type="password" id="password" name="password"
                  class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">

              </div>
              <button class="button">Login</button>
              <a class="anchor" href="">Forgotten password?</a>
              <hr class="hr">
              <button class="newac">Create new account</button>

            </div>
          </section>




        </div>

      </div>

    </div>
  </form>
  </section>
  <style>
    body {
      background-color: white;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0px 200px 0px 200px;
      background-color: #F0F2F5;
      overflow: hidden;
    
     
    }

    .fa {
      font-size: 62px;
      font-weight: bolder;
      color: #0866FF;
    }

    .fp {
      font-size: 24px;
    }

 

    .logbox {

      display: flex;
      flex-direction: column;
      align-items: start;
      background-color: white;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);


    }
    .logbox .button{
      width: 500%;
    }
    

    .logbox input {
      width: 500%;
   
    }

    .button {
      background-color: #0866FF;
      color: white;
      width: 200px;
      height: 32px;
      border-radius: 4px;
    
    }

    .anchor {
      display: flex;
      color: #0866FF;
      width: 200px;
      margin-top: 13px;
  
    }

    .hr {
      width: 200px;
      
    }

    .newac {
      width: 200px;
      height: 37px;
      background-color: #42b72a;
      color: white;
      margin-top: 12px;
      border-radius: 4px;
   
     
    }
    @media screen and (max-width:767px) {
      body{
        padding:10px;
        justify-content: center;
      align-items:start; 
  
      height:auto;
      }
      .fa{
        font-size: 35px;
        padding-left: 32px;
      }
      .fp{
        font-size: 17px;
        width: auto;
        padding-left: 32px;
      }
      .logbox{
        margin-top: 43px;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding:30px 0px 30px 0px;
      }
      .logbox input{
        width: 100%;
      }
      .logbox .button{
        width:100%;
      }
    }
    @media screen and (max-width:1100px) and (min-width:766px) {
      .logbox input{
        width: auto;
      }
      .logbox{
        margin-top: 54px;
      }
      .logbox .button{
       width: 200px;

      }
      
    }
    @media  screen and (min-width:1023px)  and (max-width:1390px){
      .logbox input{
        width:auto;
      }
      .logbox .button{
        width: auto;
      }
      @media screen and (min-width:1024px) and (max-width:1100px) {
        body{
          padding:30px;
        }
        
      }
    }
  </style>


</body>

</html>